* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
center {
    text-align: -webkit-center;
}
#win, #lose {
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}

#namez {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
  
}

#winn {
    font-size: 4em;
}


.manaz {
    display: inline-block;
    width: 13em;
    margin: 10px;
    vertical-align: middle;
}
.main {
    margin-top: 3em;
    font-size: 1.5em;
    display: inline-block;

}
ul {
    list-style-type: none;
    border: 2px solid #f2f2f2;
 width: 100%;
  margin-bottom: 0rem !important;
  padding-left: 0rem !important;
}



h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
li {
    list-style: none;
    border: 2px solid #f2f2f2;
    width: 100%;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.manaz > h2 {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}
#btnn {
    margin-top: 10px;
    align-items: center;
    padding-right: 0px;
    width: 100px;
    height: 50px;
}

#btnn a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: bolder;
    
}

button {
    border: 1px solid green;
    background: green;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 0.8em;
}
/* done */